* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  scroll-behavior: smooth;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Gemunu Libre', sans-serif;
}
.box {
  height: 50px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 25PX;
  margin-top: 10px;
  background-color: red;
  font-family: 'Gemunu Libre', sans-serif;

}
.container {
  text-align: center;
  font-family: 'Gemunu Libre', sans-serif;  
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gemunu Libre', sans-serif;
}



.b-level-2.b-type-5 {
  background: transparent;
  color: red;
  border: 3px solid red;
  position: relative;
  transform: perspective(1px);
  overflow: hidden;
  height: 50px;
  width: 150px;
  font-size: 25px;
  border-radius: 10px;
 
}

.b-level-2.b-type-5::before {
  content: "";
  position: absolute;
  background: red;
  z-index: -1;
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
  transform: translate(-50%, -50%) rotate(135deg) scaleY(0);
  width: 100%;
}

.b-level-2.b-type-5:hover {
  color: #111;
}

.b-level-2.b-type-5:hover::before {
  transform: translate(-50%, -50%) rotate(135deg) scaleY(4);
  transition: transform 0.2s ease-out;
}

.b-level-2.b-type-5:active::before {
  transform: translate(-50%, -50%) rotate(135deg) scaleY(10);
}